name: Publish Docker image

on:
  push:
    branches:
      - master
  release:
    types: [published]
  workflow_dispatch:
  schedule:
    - cron: "0 12 1 * *"

jobs:
  push_to_registry:
    runs-on: ubuntu-latest
    steps:
      - name: get_image_name
        run: |
          VERSION=$(echo "${{ github.ref }}" | sed -e 's,.*/\(.*\),\1,')
          # Strip "v" prefix from tag name
          [[ "${{ github.ref }}" == "refs/tags/"* ]] && VERSION=$(echo $VERSION | sed -e 's/^v//')

          # Use Docker `latest` tag convention
          [ "$VERSION" == "master" ] && VERSION=latest
          [ "$VERSION" == "main" ] && VERSION=latest
          # 生成日期标签
          DATE_TAG=$(date +%Y%m%d)
          repository=${{ github.repository }}
          IMAGE_NAME=${{ github.actor }}/${repository##*/}:$VERSION
          DATE_IMAGE_NAME=${{ github.actor }}/${repository##*/}:$DATE_TAG

          echo IMAGE_NAME=$IMAGE_NAME

          echo "IMAGE_NAME=$IMAGE_NAME" >> $GITHUB_ENV
          echo "DATE_IMAGE_NAME=$DATE_IMAGE_NAME" >> $GITHUB_ENV
      - name: Check out the repo
        uses: actions/checkout@v4
      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Push to Docker Hub
        uses: docker/build-push-action@v5
        with:
          push: true
          tags: |
            ${{ env.IMAGE_NAME }}
            ${{ env.DATE_IMAGE_NAME }}
