name: Publish Docker image to GHCR

on:
  push:
    branches:
      - master
  release:
    types: [published]
  workflow_dispatch:
  schedule:
    - cron: "0 12 1 * *"

jobs:
  push_to_registry:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: get_image_name
        run: |
          VERSION=$(echo "${{ github.ref }}" | sed -e 's,.*/\(.*\),\1,')
          # Strip "v" prefix from tag name
          [[ "${{ github.ref }}" == "refs/tags/"* ]] && VERSION=$(echo $VERSION | sed -e 's/^v//')

          # Use Docker `latest` tag convention
          [ "$VERSION" == "master" ] && VERSION=latest
          [ "$VERSION" == "main" ] && VERSION=latest
          # 生成日期标签
          DATE_TAG=$(date +%Y%m%d)
          # 转换为小写
          REPO_OWNER=$(echo "${{ github.repository_owner }}" | tr '[:upper:]' '[:lower:]')
          REPO_NAME=$(echo "${{ github.event.repository.name }}" | tr '[:upper:]' '[:lower:]')
          IMAGE_NAME_BASE=ghcr.io/${REPO_OWNER}/${REPO_NAME}
          IMAGE_NAME=${IMAGE_NAME_BASE}:$VERSION
          DATE_IMAGE_NAME=${IMAGE_NAME_BASE}:$DATE_TAG

          echo "IMAGE_NAME=$IMAGE_NAME"
          echo "DATE_IMAGE_NAME=$DATE_IMAGE_NAME"

          echo "IMAGE_NAME=$IMAGE_NAME" >> $GITHUB_ENV
          echo "DATE_IMAGE_NAME=$DATE_IMAGE_NAME" >> $GITHUB_ENV
      - name: Check out the repo
        uses: actions/checkout@v4
      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          push: true
          tags: |
            ${{ env.IMAGE_NAME }}
            ${{ env.DATE_IMAGE_NAME }}
